* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Clash Display', sans-serif;
}

body {
    background-color: #161819;
}

header {
    padding: 30px 40px;
    position: relative;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ECECEC;
}

header nav .gp1 i {
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: all ease-in-out 0.2s
}

header nav .gp1 i:hover {
    background-color: #939b9f15;
}

header nav h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 4.5rem;
}

header nav .gp2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

header nav .gp2 i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #414447;
    border-radius: 100px;
    transition: all ease-in-out 0.2s
}

header nav .gp2 p {
    cursor: pointer;
    color: #939b9f;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all ease-in-out 0.2s
}

header nav .gp2 p:hover {
    color: #ECECEC;
}

header nav .gp2 i:hover {
    background-color: #939b9f15;
}

main {
    margin-top: 50px;
    width: 100%;
}

main .game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .game .down {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .game .reset {
    flex: 1;
}

main .game .reset button {
    border: 2px solid #303436;
    outline: none;
    border-radius: 5px;
    padding: 10px 12px;
    background-color: transparent;
    font-size: 20px;
    color: #ECECEC;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: all ease-in-out 0.2s
}

main .game .reset button:hover {
    background-color: #939b9f15;
}

main .game .count {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex: 1;
}

main .game .count button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #707070;
    color: #ECECEC;
}

main .game .count button:disabled {
    background-color: #434445;
    color: #818283;
}

main .game .count input {
    border: 2px solid #303436;
    outline: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    font-size: 24px;
    color: #ECECEC;
    text-align: center;
}

main .game .tries {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

main .game .tries .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

main .game .tries .row div {
    width: 40px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    background-color: #303436;
    border-radius: 7px;
    color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

main .game .tries .row div.wrong {
    background-color: #707070;
}

main .game .tries .row div.rightwrong {
    background-color: #DAC316;
}

main .game .tries .row div.right {
    background-color: #55B725;
}

.filter{
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    transition: all 0.1s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.result {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #161819;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border: 2px solid #303436;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    scale: 0.5;
    transform-origin: left top;
    transition: all .5s ease-in-out;
}

.result h1 {
    color: #ECECEC;
    font-size: 30px;
}

.result .word {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 15px 0 20px;
}

.result .word p {
    width: 40px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    background-color: #55B725;
    border-radius: 5px;
    color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.result span {
    color: #ECECEC;
    margin-bottom: 10px;
}

.result button {
    border: 2px solid #303436;
    outline: none;
    border-radius: 5px;
    padding: 10px 12px;
    background-color: transparent;
    font-size: 20px;
    color: #ECECEC;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.result button:hover {
    background-color: #939b9f15;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    0% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1000px) {
    header nav h1 {
        font-size: 3.5rem;
    }

    header nav .gp1 i,
    header nav .gp2 i {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    header nav .gp2 p {
        font-size: 16px;
    }
}

@media screen and (max-width: 867px) {

    header nav .gp1,
    header nav .gp2 {
        display: none;
    }

    header {
        padding-top: 50px;
    }
}

@media screen and (max-width:450px) {
    header nav h1 {
        font-size: 2.7rem;
    }
    .result{
        width: 90%;
    }
    .result button{
        width: 90%;
        margin-top: 15px;
    }
}